@import url("https://fonts.googleapis.com/css2?family=Micro+5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Micro+5&family=Sixtyfour&display=swap");
/*? RESET */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth; }

/*? FONDO */
body {
  background: linear-gradient(to left, #000000ea, #59f6f1);
  overflow-x: hidden;
  /*? SCROLL */
  /**-----------------HEADER----------- */ }
  body::-webkit-scrollbar {
    width: 8px; }
  body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.9); }
  body::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    border: 3px double rgba(133, 255, 243, 0.83); }
  body header {
    position: sticky !important;
    top: 0px !important;
    width: 100%;
    z-index: 10;
    padding: 0 !important; }
    body header nav {
      font-family: "Sixtyfour", sans-serif;
      font-style: normal;
      font-size: 12px;
      color: #44fdfa;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgba(0, 0, 0, 0.6);
      background-color: rgba(255, 236, 236, 0.7);
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 0px;
      width: 100%; }
      body header nav div ul li {
        padding: 15px; }
        body header nav div ul li a {
          transition: 0.4s !important; }
          body header nav div ul li a:hover {
            color: #44fdfa !important;
            -webkit-text-stroke-color: rgba(0, 0, 0, 0.6); }
      body header nav h2 {
        font-size: 20px;
        padding: 0;
        margin: 0;
        padding-right: 80px; }
      @media screen and (max-width: 1200px) {
        body header nav h2 {
          padding-right: 0px; } }
      @media screen and (max-width: 500px) {
        body header nav h2 {
          font-size: 15px;
          padding-right: 0px; } }
      @media screen and (max-width: 352px) {
        body header nav h2 {
          font-size: 10px;
          padding-right: 0px; } }
      body header nav button {
        padding: 0;
        font-size: 20px; }
      body header nav a img {
        width: 50px;
        border: 2px solid rgba(124, 249, 236, 0.678);
        border-radius: 50px;
        margin: 1px 5px;
        box-shadow: 0 0 5px 2px #73f4f2; }
  body #header-index {
    position: fixed !important; }
  @media screen and (max-width: 640px) {
    body #header-index {
      position: sticky !important; } }
  body main .titulo {
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    body main .titulo video {
      width: 100%; }
    body main .titulo a {
      position: absolute;
      margin-top: 35%; }
    @media screen and (max-width: 520px) {
      body main .titulo a {
        content-visibility: hidden; } }
    body main .titulo img {
      display: flex;
      text-align: center;
      position: absolute;
      width: 55px;
      border-radius: 50px;
      padding: 3px;
      transition-duration: 0.7s; }
      body main .titulo img:hover {
        background-color: #52d2d2;
        border-radius: 50px;
        scale: 1.1;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px 3px; }
    body main .titulo h1 {
      font-size: 5vh;
      text-align: center;
      font-family: "Sixtyfour", sans-serif;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      color: rgba(255, 255, 255, 0.8);
      position: absolute; }
  body main .servicios h2, body main .productos h2, body main .subtitulo-nosotros h2 {
    font-family: "Sixtyfour", sans-serif;
    text-align: center;
    font-size: 5vh;
    padding-top: 5px;
    color: #fff;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    background: rgba(0, 0, 0, 0.3); }
  body main .tarjetas-servicios, body main .tarjetas-productos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
  body main .tarjetas-servicios section, body main .tarjetas-productos section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    height: 220px;
    width: 200px;
    margin: 15px 1px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3); }
  body main .tarjetas-servicios section img, body main .tarjetas-productos section img {
    width: 90%;
    height: 20vh;
    object-fit: cover;
    margin: 9px;
    padding: 0px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow-y: hidden; }
  body main .tarjetas-servicios section h3, body main .tarjetas-productos section h3 {
    color: white;
    font-size: 18px; }
  body main .tarjetas-servicios section a, body main .tarjetas-productos section a {
    border-radius: 10px;
    border-style: none;
    width: fit-content;
    padding: 3px;
    margin: 3px 0 3px;
    color: white;
    background-color: black;
    box-shadow: 0px 0px 3px 2px #f7e469;
    text-decoration: none;
    transition: .2s; }
  body main .tarjetas-servicios section a:hover, body main .tarjetas-productos section a:hover {
    box-shadow: 0 0 4px 3px #eed537;
    scale: 1.05; }
  body main .subtitulo-nosotros {
    border-bottom: solid 1px #000; }
    body main .subtitulo-nosotros h2 {
      border-bottom: solid 1px #000; }
  body main .parrafo1, body main .parrafo2 {
    display: flex;
    align-items: center; }
  body main .parrafo1 img, body main .parrafo2 img {
    width: 50%;
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 1px #000;
    margin: 5px 5px; }
  body main .parrafo1 p, body main .parrafo2 p {
    font-size: 3vh;
    margin: 15px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0px 30px 30px;
    color: #84f4e5;
    border: #000 solid 1px;
    box-shadow: 0px 0px 3px 3px #84f4e5; }
  body main .parrafo1 p {
    border-radius: 30px 0px 30px 30px; }
  body main .parrafo2 a {
    color: white; }
  @media screen and (max-width: 600px) {
    body main .parrafo1 {
      flex-direction: column; }
    body main .parrafo2 {
      flex-direction: column-reverse; } }
  body footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    overflow-x: hidden;
    margin-top: 5px; }
    body footer .footer-logo {
      width: 80px;
      border: 2px solid rgba(124, 249, 236, 0.678);
      border-radius: 50px;
      margin: 1px 5px;
      box-shadow: 0 0 5px 2px #84f4f2; }
    @media screen and (max-width: 600px) {
      body footer .footer-logo {
        width: 60px; } }
    body footer .redes {
      display: flex;
      flex-direction: row;
      list-style: none; }
      body footer .redes img {
        width: 40px;
        margin-left: 7px;
        transition-duration: 0.5s; }
        body footer .redes img:hover {
          scale: 1.08;
          transform: translateY(-10px); }
      @media screen and (max-width: 600px) {
        body footer .redes img {
          width: 30px; } }
      @media screen and (max-width: 400px) {
        body footer .redes img {
          width: 20px; } }
    body footer ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    body footer a {
      color: whitesmoke;
      text-decoration: none;
      font-size: 15px; }
    @media screen and (max-width: 600px) {
      body footer a {
        font-size: 12px; } }
  body .pag-contacto, body .pag-nosotros, body .pag-servicios, body .pag-productos {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; }
  body .pag-contacto h1, body .pag-nosotros h1, body .pag-servicios h1, body .pag-productos h1 {
    color: #fff;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 0.8px;
    font-family: "Sixtyfour", sans-serif;
    font-size: 4vh;
    background: rgba(0, 0, 0, 0.3);
    margin: 3px 0px;
    padding: 5px;
    width: 100%;
    overflow-x: hidden; }
  body .pag-productos h2 {
    font-family: "Sixtyfour",sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 5px;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 0.4px; }
  body .pag-contacto section {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    display: flex;
    text-align: center;
    padding: 20px;
    border: rgba(255, 255, 255, 0.3) 1px solid;
    margin: 50px;
    overflow-x: hidden; }
    body .pag-contacto section form div input {
      background: rgba(255, 255, 255, 0.2);
      color: white;
      border-top-style: none;
      border-left-style: none;
      border-right-style: none;
      border-bottom: #000 solid 1.5px;
      border-radius: 10px;
      width: 100%;
      padding: 5px;
      margin: 3px;
      cursor: pointer; }
    body .pag-contacto section form div .input__submit_reset {
      color: black;
      background: rgba(0, 0, 0, 0.3);
      cursor: pointer; }
    body .pag-contacto section form div label {
      color: black; }
    body .pag-contacto section form div .genero {
      display: flex;
      margin: 5px; }
  body .pag-servicios .grid-servicio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    object-fit: cover;
    gap: 10px;
    font-family: "Sixtyfour", sans-serif;
    font-style: italic;
    color: #000;
    overflow: hidden;
    grid-template-areas: "alquiler alquiler torneo" "puntos logo torneo" "puntos mantenimiento mantenimiento"; }
    body .pag-servicios .grid-servicio p {
      text-shadow: rgba(255, 236, 236, 0.7) 2px 2px 1px; }
    body .pag-servicios .grid-servicio .grid-tarjetas-1 {
      grid-area: alquiler;
      display: flex;
      flex-direction: row;
      box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px 3px;
      margin-top: 3px; }
      body .pag-servicios .grid-servicio .grid-tarjetas-1 div {
        background-color: rgba(237, 250, 249, 0.224);
        align-content: space-around;
        text-align: center;
        padding-bottom: 5px;
        overflow: hidden; }
    body .pag-servicios .grid-servicio .grid-tarjetas-2 {
      grid-area: mantenimiento;
      display: flex;
      flex-direction: row; }
      body .pag-servicios .grid-servicio .grid-tarjetas-2 div {
        background-color: rgba(237, 250, 249, 0.224);
        padding-bottom: 5px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px 3px;
        margin-bottom: 3px;
        align-content: space-around; }
    body .pag-servicios .grid-servicio .grid-tarjetas-3 {
      margin-top: 3px;
      background-color: rgba(237, 250, 249, 0.224);
      grid-area: puntos;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px 3px; }
    body .pag-servicios .grid-servicio .grid-tarjetas-4 {
      background-color: rgba(237, 250, 249, 0.224);
      grid-area: torneo;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px 3px;
      margin-bottom: 3px; }
    body .pag-servicios .grid-servicio .grid-tarjetas-5 {
      grid-area: logo;
      align-items: center; }
      body .pag-servicios .grid-servicio .grid-tarjetas-5 img {
        object-fit: cover;
        width: 1fr;
        height: 100%;
        border-radius: 200px;
        box-shadow: #73f4f2 0px 0px 15px 10px; }
    body .pag-servicios .grid-servicio a {
      border-radius: 10px;
      border-style: none;
      width: fit-content;
      padding: 3px;
      margin: 3px 0 3px;
      color: white;
      background-color: black;
      box-shadow: 0px 0px 3px 2px #f7e469;
      text-decoration: none; }
  @media screen and (max-width: 1020px) {
    body .pag-servicios .grid-servicio p {
      font-size: 12px; } }
  @media screen and (max-width: 800px) {
    body .pag-servicios .grid-servicio {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas: "alquiler alquiler" "puntos torneo" "puntos torneo" "mantenimiento mantenimiento"; } }
  @media screen and (max-width: 400px) {
    body .pag-servicios .grid-servicio {
      grid-template-columns: 1fr;
      grid-template-areas: "alquiler" "puntos" "torneo" "mantenimiento"; } }
  @media screen and (max-width: 800px) {
    body .pag-servicios .grid-tarjetas-5 {
      display: none; } }

.proximamente {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/1682336188585.jpg);
  overflow: hidden; }
  .proximamente h1 {
    position: absolute;
    color: white;
    top: 30px;
    text-shadow: aqua 3px 3px 3px; }
  .proximamente a {
    position: absolute;
    bottom: 30px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.7s; }
    .proximamente a:hover {
      color: aqua;
      scale: 1.1;
      text-shadow: 0 0 1em white; }
  .proximamente .container-proximamente {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative; }
    .proximamente .container-proximamente .sol {
      position: absolute;
      top: 15em;
      left: 15em;
      width: 10em;
      height: 10em;
      background: radial-gradient(yellow, #ff5900);
      border-radius: 50%;
      box-shadow: 0 0 3em white; }
    .proximamente .container-proximamente .tierra, .proximamente .container-proximamente .luna {
      position: absolute;
      border-style: solid;
      border-color: white transparent transparent transparent;
      border-width: 0.1em 0.1em 0 0;
      border-radius: 50%; }
      .proximamente .container-proximamente .tierra::before, .proximamente .container-proximamente .luna::before {
        content: '';
        position: absolute;
        border-radius: 50%; }
  .proximamente .tierra {
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbita 36.5s linear infinite; }
    .proximamente .tierra::before {
      top: 2.0em;
      right: 2.8em;
      width: 4em;
      height: 4em;
      background-image: url(../img/planet-earth.gif);
      background-size: cover; }
    .proximamente .tierra .luna {
      top: 0;
      right: 0;
      width: 8em;
      height: 8em;
      animation: orbita 2.7s linear infinite; }
      .proximamente .tierra .luna::before {
        top: 0.8em;
        right: 0.2em;
        width: 1.2em;
        height: 1.2em;
        background-color: silver; }

@keyframes orbita {
  to {
    transform: rotate(360deg); } }
